body {
  background-color: #f7f5f7;
  box-sizing: border-box;
}

table {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
}

table tr {
  border: none;
  margin: 0;
  padding: 0;
}

table td {
  padding: 0;
}

.wrapper {
  max-width: 520px;
  box-sizing: border-box;
  margin: 48px auto;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper tbody {
  vertical-align: top;
}

.wrapper .header td div {
  width: 100%;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-bottom: 1px solid #e5e5e5;
}

.wrapper .lyra-email-title td div {
  margin: 40px 48px;
}

.wrapper .lyra-email-title h1 {
  text-align: center;
  font-size: 28px;
  line-height: 34px;
}

.lyra-email-intro td p {
  margin: 0 48px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.024em;
}

.lyra-campaign-info td .lyra-campaign-info-wrapper {
  margin: 24px 48px;
}

.lyra-campaign-info-wrapper div {
  margin-bottom: 16px;
  position: relative;
}

.lyra-campaign-info-wrapper div .campaign-source {
  position: absolute;
  top: 16px;
  right: 8px;
}

.lyra-campaign-info-wrapper div .campaign-source img {
  margin: 0 8px;
}

.lyra-campaign-info-wrapper div img {
  border-radius: 4px;
}

.lyra-campaign-info-wrapper h4 {
  all: unset;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.024em;
  color: #11b8ae;
}

.lyra-campaign-info-wrapper p {
  margin: 8px 0 24px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.016em;
  color: #000000;
  opacity: 0.7;
}

.lyra-campaign-info-wrapper .seperator {
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 0px;
}

.lyra-email-cta div {
  margin: 0 48px 48px;
}

.lyra-email-cta div a {
  display: table;
  width: 100%;
  padding: 12px 0;
  background: #11b8ae;
  border-radius: 24px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.lyra-email-cta div a:hover {
  background-color: #0e9a92;
}

.lyra-email-footer,
.lyra-email-footer-links,
.lyra-email-copyright {
  max-width: 520px;
  margin: 0 auto;
}

.lyra-email-footer tr td div {
  width: 100%;
}

.lyra-email-footer tr td p {
  font-size: 12px;
  line-height: 16px;
  color: #808080;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lyra-email-footer tr td p span {
  color: #11b8ae;
}

.lyra-email-footer .social-media-links div {
  text-align: center;
  margin: 16px 0;
}

.lyra-email-footer .social-media-links div a {
  margin: 0 12px;
}

.lyra-email-footer-links tr td a,
.lyra-email-copyright tr td p {
  color: #808080;
  margin: 0 32px;
  font-size: 12px;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lyra-email-copyright tr td p {
  margin: 24px 0 48px;
}

/* Media Queries */
@media screen and (max-width: 440px) {
  table {
    max-width: 100vw;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }

  .wrapper .lyra-email-title td div,
  .wrapper .lyra-email-intro td p,
  .wrapper .lyra-campaign-info td .lyra-campaign-info-wrapper,
  .wrapper .lyra-email-cta td div {
    margin: 24px 16px;
  }
  .wrapper .lyra-email-title td div h1 {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  .lyra-campaign-info-wrapper img {
    width: 100%;
  }
  .lyra-email-footer-links tr td a {
    display: block;
    margin: 0 16px;
  }
}
